/* Content */
.content{
    width: 340px;
    margin: 0 auto;
  }
  
  .coltwo{
    float: left;
    width: 160px;
  }
  
  .coltwo ul{
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .coltwo li h2 span{
    margin: 0;
    padding: 5px 10px;
    background: #4fbeff;
    border-bottom: none;
    text-transform: uppercase;
    font-size: 10px;
  }
  
  .coltwo li ul, .coltwo li form{
    margin: 0 0 10px 0;
    padding: 15.5px;
    border: 1px solid #4fbeff;
  }

  .coltwo2{
    float: right;
    width: 150px;
  }

  .coltwo2 ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
  .coltwo2 li h2 span{
    margin: 0;
    padding: 5px 10px;
    background: #4fbeff;
    border-bottom: none;
    text-transform: uppercase;
    font-size: 10px;
  }
  
  .coltwo2 li ul, .coltwo2 li form{
    margin: 0 0 10px 0;
    padding: 10px;
    border: 1px solid #4fbeff;
  }
  
  .backgroud{
    background-color: #fff;
  }
  .tengah{
    text-align: center;
  }
  
  
  